body{
    font-family: 'Montserrat', sans-serif;    
}
h1{
    text-align: left;
    color: #747474;   
    margin-left: 1em; 
}

h3{
    text-align: left;
    color: #D5C4AE;
    margin-left: 2em; 
}

li{
    color:#9C9C91;
    font-weight: bolder;
    padding-top: 1em;
}

.capas {
 padding: 1em;
}